body {
    background-color: rgb(218, 205, 189);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group .login-form {
    background-color: white;
    border: 1px solid rgb(151, 151, 185);
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    text-shadow: .4px 4px 5px rgba(0, 0, 0, .2);
    box-shadow: .4px 4px 5px rgba(0, 0, 0, .2);
}

.form-group .login-form h2 {
    user-select: none;
    text-align: center;
    font-weight: 400;
}

.form-group .login-form .input-group {
    margin: 1.5rem 0;
    position: relative;
}

.form-group .login-form .input-group input {
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(87, 181, 209);
    padding: 6px 0px;
    width: 100%;
}

.form-group .login-form .input-group label {
    position: absolute;
    left: 0px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    top: 5px;
    color: rgb(168, 164, 164);
    pointer-events: none;
    transition: 200ms;
}

.form-group .login-form .input-group input:focus + label {
    top: -12px;
}

.form-group .login-form .input-group input:valid + label {
    opacity: 0;
}

.form-group .login-form button {
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    padding: 4px 0;
    cursor: pointer;
    color: azure;
}

.form-group .login-form p, a {
    color: inherit;
    text-shadow: none;
    margin-top: 1.5rem; 
}